/* .contaainer{
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 10%;

    border-style: double;
} */

.title {
    background-color: rgba(182, 154, 103, 0.603);;
    color: rgb(255, 181, 43);
    margin-top: 50px;
    border-radius: 20px;
    font-family: 'Lobster', cursive;
}

.div {
    display: flex;
    /* justify-content: center; */
    background-color: rgba(255, 255, 255, 0.548);
    /* text-align: center; */
    align-items: center;
    border-radius: 20px;
    color:rgb(68, 68, 43);
    font-family: 'Lobster', cursive;
    margin: 10px;
    margin-bottom: 5px;
}

.typ{
     background-color: rgba(255, 255, 255, 0.548);
    font-family: 'Lobster', cursive;
    margin: 10px;
    border-radius: 20px;
    letter-spacing: 2px;
    height: 350px;
    width: 600px;
    
}

.typeDiet{
color: rgb(68, 68, 43);
font-family: 'Lobster', cursive;
margin-top: 40px;
}
.id{
    color: chartreuse;
    margin-left: 5px;
}

.reci{
    color: azure;
    background-color: rgba(255, 255, 255, 0.548);
    font-family: 'Lobster', cursive;
    margin: 10px;
    border-radius: 20px;
    letter-spacing: 2px;
    height: 350px;
    width: 600px;
}

.img {
    margin-left: 0px;
    border-radius: 50px;
    width: 20em;
    height: 20em;
}
.recipe{
    /* border-style: double; */
    justify-content:baseline;
    color: rgb(87, 212, 87);
}

.health {
    color: rgb(66, 224, 60);
    font-family: 'Lobster', cursive;
}

.notFound {
    color: red;
}

.area1 {
    display: flex;
    justify-content: center;
    text-align: justify;
    margin-left: 300px;
    margin-right: 300px;
}
.container_health{
    display: flex;
}
.health{
 display: flex;   
}
.area2 {
    display: flex;
    justify-content: center;
    text-align: justify;
    margin-left: 265px;
    margin-right: 300px;
}

.btn {
    padding: 3px;
    margin-top: 0px;
    margin-left: 0px;
    height: 40px;
    width:80px;
    border-radius: 10px;
     color: rgb(235, 141, 19);
  background-color: black;
    font-weight: bold;
    font-size: 20px;
    position:fixed;
  left: 20px;
  text-decoration: none;
}

.btn:hover {
    background-color: rgb(80, 80, 80);
    color: white;
    height: 60px;
    width: 90px;
    transition: 0.2s;
    font-size: 30px;
}



