.general {
    display: flex;
    justify-content: center;
    color: rgb(235, 141, 19);
}

.ul {
    display: flex;
    flex-direction: row;
        margin-left: 35px;
    margin-top: 15px;

}

.list {
   width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:  rgb(235, 141, 19);;
    color:   rgb(235, 141, 19);
    text-align: center;
    line-height: 38px;
    /* Igual a la altura del círculo */
    display: block;
    margin: 0 auto;
}

.btn {
    /* color: white; */
    border: none;
    background-color: rgb(235, 141, 19);
    font-size: 20px;
    margin: 5px;
    border-radius: 30px ;
     font-weight: bold;
}

.btn:hover {
    background-color: rgb(255, 255, 255);
    color: black,
    
}

.bn {
    color: white;
    border-radius: 30px;
    background-color: black;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    margin-right: -20px;
    width: 40px;
    height: 40px;
    margin-top: 15px;
}

.bn:hover {
    background-color: rgb(255, 255, 255);
    color: black
}

.bn:disabled {
    color: rgb(235, 141, 19);
}
