

.cardContainer {
  position: relative;
  display: inline-block;
  border-radius: 20px 0px;
  overflow: hidden;
  margin: 10px;
  padding: 10px;
  border: 5px;
  background-color: rgba(251, 255, 255, 0.295);
  height: 520px;
  text-decoration: none;
  width: 250px;
  white-space: break-word;
  border: 1px solid rgb(235, 141, 19);
  &:hover {
    background-color: beige;
    transform: translateY(-10px, 0);
    -moz-box-shadow: 13px 13px 11px -1px rgba(232, 225, 232, 0.84);
    box-shadow: 13px 13px 11px -1px rgba(232, 225, 232, 0.84);
  }
}

.actual {
  color: whitesmoke;
}

.pag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}

.select {
  width: 170px;
  padding: 5px;
  border-radius: 10px;
}

.star {
  width: 20px;
  background-color: none;
  margin-left: 50px;
  margin-right: 50px;
}
.ref {
  display: flex;
  justify-content: center;
}
.starRef {
  color: white;
  margin-left: 50px;
  margin-right: 50px;
}

.btnYfilt {
  padding: 2px;
  display: inline-block;
  position: static;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid rgb(235, 141, 19);
  width: 250px;
  margin-left: 10px;
  
}
.filt_card{
display: flex;
height: 128vw;
}

.btn {
  border-radius: 10px;
  padding: 10px;
  color: rgb(235, 141, 19);
  background-color: black;
  margin-top: 5px;
}

.btnYfilt {
  background-color: rgba(16, 15, 15, 0.333);
  box-shadow: 0 0 4px rgba(248, 248, 248, 0.826);
  border-radius: 20px 0px;
  display: grid;
  padding: 0.5rem;
  margin-top: 15px;
  margin-bottom: 10px;
  flex-direction: column;
  gap: 0.5rem;
  color: #bbb;
  
}

.soloFil {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 200px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 200rem;
}

.btnYfilt select {
  padding: 6px 12px;
  color: #333;
  background-color: #eee;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 20px;
  margin-right: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
}
.btnYfilt select:hover {
  outline: none;
  border: 1px solid #bbb;
}
.btnYfilt select option {
  background-color: #fff;
}
.btnYfilt button {
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px;
  color: rgb(235, 141, 19);
  background-color: black;
}
.btnYfilt button:hover {
  color: black;
  background: rgb(235, 141, 19);
  cursor: pointer;
  border: 2px rgb(15, 14, 14) solid;
  box-shadow: 0px 10px 15px 1px rgb(235, 141, 19);
}

.span_name {
  font-weight: bold;
  color: rgb(235, 141, 19);
}

.fin{
  display:inline-block;
  background-color: rgba(235, 141, 19, 0.501);
  border-radius: 60px;
}
.pub{
  color:rgb(235, 141, 19);
}
@media (max-width: 768px) {
  .pag{
    flex-wrap: wrap;
  }
  .fin {
    
    background-color: rgba(235, 141, 19, 0.7); 
  }
  .pub {
    
    color: white; /* Cambiar el color del texto en pantallas más pequeñas */
  }
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  
  width: 60px;
  aspect-ratio: 1;
  display: flex;
  --c1:linear-gradient(#554236 0 0);
  --c2:linear-gradient(#F77825 0 0);
  --s:calc(100%/3) calc(100%/3);
  background:
    var(--c1) 0   0 ,var(--c2) 50% 0   ,var(--c1) 100% 0,
    var(--c2) 0  50%,                   var(--c2) 100% 50%,
    var(--c1) 0 100%,var(--c2) 50% 100%,var(--c1) 100% 100%;
  background-repeat: no-repeat;
  animation: l8-0 1.5s infinite alternate;
position: fixed; 
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
}
.loader:before {
  content: "";
  width: calc(100%/3);
  height: calc(100%/3);
  background: #60B99A;
  animation: inherit;
  animation-delay: 0s; 
  animation-name: l8-1;
}
@keyframes l8-0 {
    0%,12.49%   {background-size: var(--s),0 0     ,0 0     ,0 0     ,0 0     ,0 0     ,0 0     ,0 0     }
    12.5%,24.9% {background-size: var(--s),var(--s),0 0     ,0 0     ,0 0     ,0 0     ,0 0     ,0 0     }
    25%,37.4%   {background-size: var(--s),var(--s),var(--s),0 0     ,0 0     ,0 0     ,0 0     ,0 0     }
    37.5%,49.9% {background-size: var(--s),var(--s),var(--s),0 0     ,var(--s),0 0     ,0 0     ,0 0     }
    50%,61.4%   {background-size: var(--s),var(--s),var(--s),0 0     ,var(--s),0 0     ,0 0     ,var(--s)}
    62.5%,74.9% {background-size: var(--s),var(--s),var(--s),0 0     ,var(--s),0 0     ,var(--s),var(--s)}
    75%,86.4%   {background-size: var(--s),var(--s),var(--s),0 0     ,var(--s),var(--s),var(--s),var(--s)}
    87.5%,100%  {background-size: var(--s),var(--s),var(--s),var(--s),var(--s),var(--s),var(--s),var(--s)}
}
@keyframes l8-1 {
  0%,
  5%    {transform: translate(0   ,0   )}
  12.5% {transform: translate(100%,0   )}
  25%   {transform: translate(200%,0   )}
  37.5% {transform: translate(200%,100%)}
  50%   {transform: translate(200%,200%)}
  62.5% {transform: translate(100%,200%)}
  75%   {transform: translate(0   ,200%)}
  87.5% {transform: translate(0   ,100%)}
  95%,
  100%  {transform: translate(100%,100%)}
}

@keyframes l2 {
  100% {background-position: right -50px top 0}
}

/* @media (max-width: 768px) {
  .cardContainer {
    width: 100%; 
    margin: 10px 0; 
    height: auto; 
  }

  .pag {
    padding: 10px; 
  }

} */