/* .container{
    color: silver
    background
} 
*/
.title {
  color: rgb(194, 14, 14);
  font-family: "Lobster", cursive;
  margin-right: 50px;
  margin-bottom: 50px;
}

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

.formRegister {
  background-image: url("C:\Users\Pc\Desktop\PI-Food\client\src\components\Styles\libreta2_adobe_express.jpeg");
  color: rgb(109, 59, 59);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: "Lobster", cursive;
  /* display: flex; */
  position: static;
  justify-content: center;
  align-items: center;
  min-height: 105vh;
  /* width: 100%; */
  
}

.divF {
  font-size: 20px;
  color: rgb(214, 178, 178);
}

.formRegister p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.formRegister a:hover {
  color: white;
  text-decoration: underline;
  margin-bottom: 0.1em;
}

.formRegister .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: rgb(138, 79, 79);
  margin: 16px 0;
  font-size: 16px;
}

.controls:hover {
  background: #8e43f1;
  box-shadow: 0 0 10px #d88181, 0 0 40px #c46666, 0 0 80px #c75c5c;
}

.form {
  font-size: 18px;
  color: rgb(177, 118, 118);



}
.boton1 {
  border-radius: 4px;
  padding: 5px;
  color: rgb(177, 118, 118);
  background-color: black;
}

.boton2 {
  border-radius: 4px;
  padding: 5px;
  color:black;
  background-color:  rgb(177, 118, 118);
   position: fixed;
  left: 20px;
}

.boton2 :hover{
  
  color: rgb(177, 118, 118); /* color de fuente hover */
}
.boton2::after {
  content: "";
  background: #121213; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 6px;
  display: block;
  top: 0;
  bottom: 0;
  left: 100%;
  right: -100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.boton2:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
