
.general {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search{
    /* margin-left: 500px; 
    margin-left: 30%;*/
    flex-grow: 1
}
.title {
    margin-bottom: 0.2%;
    margin-left: 5%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ib {
    margin-left: 10%;
}

.input {
    width: 400px;
    height: 40px;
    font-size: 200%;
    color: grey;
    border-radius: 20px;
    text-indent: 5px;
    outline: none;
}

.input::placeholder {
    text-align: center;
    color: grey;
    font-size: large;
}

.btn {
    margin-left: 10px;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    background-color: rgb(235, 141, 19);;
    color: black;
    font-weight: bold;
}

.btn:hover {
    background-color: rgb(80, 80, 80);
    color: white;
    transition: 0.2s;
}

.img {
    height: 150px;
    width: 150px;
    margin-right: 10px;
}


@media screen and (max-width: 768px) {
    .img {
        height: 100px;
        width: 100px;
    }
 
}  
 @media (max-width: 600px) {
        /* En pantallas con un ancho máximo de 600px */
        .input {
            margin-left: auto;
            width: 80%; /* Utiliza un porcentaje en lugar de un valor fijo */
           /* margin: 0 auto;  Esto centrará el elemento horizontalmente */
            text-align: center; /* Esto centrará el texto dentro del elemento */
        }
    }